@page "/CarrinhoCompra"
@using System.Text.Json;
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

@if (CarrinhoCompraItens == null && MensagemErro == null)
{
    <ExibirSpinner/>
} else if (MensagemErro != null)
{
    <ExibirErro MensagemErro="@MensagemErro"></ExibirErro>
} else
{
    
    <p class="titulo">Carrinho</p>
    @if (CarrinhoCompraItens.Count() > 0)
    {
        <MudItem>
        @foreach (var item in CarrinhoCompraItens)
        {
            
                <MudCard>
                    <MudGrid>
                        <MudItem>
                            <MudImage ObjectFit="ObjectFit.Contain" Height="250" Src="@item.ProdutoImagem" Alt="Örebro Slott" Elevation="25" Class="rounded-lg" />
                        </MudItem>
                        <MudItem>
                            <MudCardContent>
                                <p Class="nome-item">@item.ProdutoNome</p>
                                <p Class="descricao-item">@item.ProdutoDescricao</p>
                                <p Class="preco-item">@item.Preco.ToString("c")</p>
                                
                            </MudCardContent>
                            <MudCardContent>
                                <MudNumericField Label="Quantidade" Variant="Variant.Outlined" @bind-Value="@item.Quantidade" />
                            </MudCardContent>
                            <MudCardActions>

                                <MudButton StartIcon="@Icons.Material.Filled.Refresh" Variant="Variant.Filled" Color="Color.Primary" OnClick="(()=> AtualizaQuantidadeCarrinhoClick(item.Id, item.Quantidade))">Atualizar item</MudButton>
                               <MudSpacer></MudSpacer>
                               <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="(()=> DeletarCarrinhoItem(item.Id))">Excluir</MudButton>
                                


                            </MudCardActions>

                        </MudItem>
                    </MudGrid>
                </MudCard>      
        }
        </MudItem>
        <MudItem>
            <MudCard>
                <MudCardContent>
                    <p class="carrinho-resumo">Carrinho - Resumo</p>
                    <p class="total">Total de itens: @QuantidadeTotal itens&nbsp;<br />Valor total: @PrecoTotal</p>
                </MudCardContent>
            </MudCard>
            <MudCard>
                <MudCardContent>
                    <p class="titulo-comprador" >Dados do pedido </p>
                    <p class="subtitulo">Para finalizar o pedido preencha suas informações:</p>
                    <MudForm >
                        <MudTextField @bind-Value="nomeComprador" T="string" Label="Nome Completo" />
                        <MudTextField @bind-Value="telefoneComprador" T="string" Label="Telefone" />

                        <p class="subtitulo-pagamento">Forma de pagamento</p>
                        <MudRadioGroup T="string">
                            <MudRadio Option="@("1")">Cartão de Crédito</MudRadio>
                            <MudRadio Option="@("2")">Cartão de Débito</MudRadio>
                            <MudRadio Option="@("3")">Dinheiro/Pix</MudRadio>
                        </MudRadioGroup>
                    </MudForm>

                </MudCardContent>
                <MudSpacer></MudSpacer>
                <p class="finalizar-pedido">Para finalizar o pedido e ser direcionado para um atendente, clique no botão abaixo</p>
                <MudCardActions>

                    <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" OnClick="(()=> ConfirmarPedido())">Confirmar Pedido</MudButton>
                </MudCardActions>

         
            </MudCard>
        </MudItem>
        
    } else
    {
        <p class="carrinho-vazio">Seu carrinho está vazio</p>
    }
    
}

@code {
    [Inject]
    public ICarrinhoCompraService? CarrinhoCompraService { get; set; }

    [Inject]
    public IGerenciaProdutosLocalStorageService GerenciaProdutosLocalStorageService { get; set; }

    [Inject]
    public IGerenciaCarrinhoItensLocalStorageService GerenciaCarrinhoItensLocalStorageService { get; set; }

    public List<CarrinhoItemDto>? CarrinhoCompraItens { get; set; }

    public string? MensagemErro { get; set; }
    protected string? PrecoTotal { get; set; }
    protected int QuantidadeTotal { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            CarrinhoCompraItens = await GerenciaCarrinhoItensLocalStorageService.GetCollection();

            CarrinhoChanged();
        }
        catch (Exception ex)
        {

            MensagemErro = ex.Message;
        }
    }

    protected async Task DeletarCarrinhoItem(int id)
    {
        var carrinhoItemDto = await CarrinhoCompraService.DeletaItem(id);

        await RemoveCarrinhoItem(id);
        CarrinhoChanged();
    }

    protected async Task AtualizaQuantidadeCarrinhoClick(int id, int quantidade)
    {
        try
        {
            if (quantidade > 0)
            {
                var atualizaItemDto = new CarrinhoItemAtualizaQuantidadeDto
                    {
                        CarrinhoItemId = id,
                        Quantidade = quantidade
                    };
                var retornaItemAtualizadoDto = await CarrinhoCompraService.AtualizaQuantidade(atualizaItemDto);

                AtualizaPrecoTotalItem(retornaItemAtualizadoDto);
                CarrinhoChanged();
            } else
            {
                var item = CarrinhoCompraItens.FirstOrDefault(i => i.Id == id);
                if (item is not null)
                {
                    item.Quantidade = 1;
                    item.PrecoTotal = item.Preco;

                }
            }
        }
        catch (Exception)
        {

            throw;
        }
    }

    private CarrinhoItemDto GetCarrinhoItem(int id)
    {
        return CarrinhoCompraItens.FirstOrDefault(i => i.Id == id);
    }

    private async Task RemoveCarrinhoItem(int id)
    {
        var carrinhoItemDto = GetCarrinhoItem(id);
        CarrinhoCompraItens.Remove(carrinhoItemDto);

        await GerenciaCarrinhoItensLocalStorageService.SaveCollection(CarrinhoCompraItens);
    }

    private async Task SetPrecoTotal()
    {
        PrecoTotal = CarrinhoCompraItens.Sum(p => p.PrecoTotal).ToString("c");
    }

    private void SetQuantidadeTotal()
    {
        QuantidadeTotal = CarrinhoCompraItens.Sum(p => p.Quantidade);
    }

    private void CalculaResumoCarrinhoTotal()
    {
        SetPrecoTotal();
        SetQuantidadeTotal();
    }

    private async Task AtualizaPrecoTotalItem(CarrinhoItemDto carrinhoItemDto)
    {
        var item = GetCarrinhoItem(carrinhoItemDto.Id);

        if (item != null)
        {
            item.PrecoTotal = carrinhoItemDto.Preco * carrinhoItemDto.Quantidade;
        }

        await GerenciaCarrinhoItensLocalStorageService.SaveCollection(CarrinhoCompraItens);
    }

    private void CarrinhoChanged()
    {
        CalculaResumoCarrinhoTotal();
        CarrinhoCompraService.RaiseEventOnCarrinhoCompraChanged(QuantidadeTotal);
    }

    //fluxo de enviar para o whatsapp

    private string nomeComprador;
    private string telefoneComprador;
    private string precoTotalPedido;
    private List<string> ListaProdutosPedido { get; set; } = new List<string>();

    public List<CarrinhoItemDto>? Produtos { get; set; }


    private async Task ConfirmarPedido()
    {
        Produtos = await GerenciaCarrinhoItensLocalStorageService.GetCollection();
        string nome = nomeComprador;
        string telefone = telefoneComprador;
        string totalPreco = CarrinhoCompraItens.Sum(p => p.PrecoTotal).ToString("c");
        string produtoPedido = "";

        foreach(var item in Produtos)
        {
            produtoPedido = $"Produto: {item.ProdutoNome} - Quantidade: {item.Quantidade} - Preço: {item.Preco}";
            Console.WriteLine(produtoPedido);
            ListaProdutosPedido.Add(produtoPedido);
        }

        var dadosCompra = $"Nome: {nome} - Telefone: {telefone} - Preço final do pedido: {totalPreco}";
        Console.WriteLine(dadosCompra);

        string mensagem = $"Dado separado: {dadosCompra}{Environment.NewLine}Lista de dados:{Environment.NewLine}{string.Join(Environment.NewLine, ListaProdutosPedido)}";
        await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", mensagem);
        Console.WriteLine("Mensagem copiada para a área de transferência.");

        NavigationManager.NavigateTo("https://api.whatsapp.com/send?phone=5532991422169&text=Ol%C3%A1,%20gostaria%20de%20fazer%20o%20pedido:%20(cole%20aqui%20os%20dados%20do%20seu%20pedido%20que%20j%C3%A1%20est%C3%A3o%20copiados%20na%20sua%20%C3%A1rea%20de%20transfer%C3%AAncia)");

        
    }

    

    


    
}

